:root {
  --background: #fafafa;
  --foreground: #171717;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background: var(--background) !important;
  color: var(--foreground) !important;
}

a {
  text-decoration: none;
  color: inherit;
}